


<launch>
  <arg name="start_gazebo" default="true"/>
  <arg name="gazebo_gui"   default ="true"/>
  <arg name="start_rviz" default="true"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg start_gazebo)">
    <arg name="world_name" value="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kortex_description)/robots/gen3.xacro dof:=7 vision:=false"/>
  <!-- Launch arm from kortex_gazebo -->
<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -param robot_description -model gen3 -x 1 -y 1 -z 1
                -robot_namespace my_gen3" />

  <!-- LOAD BASE -->
  <!-- Load actuator parameters to param server -->  
  <rosparam file="$(find mobile_base_control)/config/model_control.yaml" command="load" />

  <group ns="base">
    <!-- Convert xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro $(find mobile_base_description)/urdf/base/model.xacro" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- SPAWN BASE CONTROLLERS-->
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller
                        wheel_1_joint_controller
                        wheel_2_joint_controller
                        wheel_3_joint_controller
                        wheel_4_joint_controller" />

    <!-- Spawn the base into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mobile_base" />

  </group>

</launch>