<launch>

    <!-- Robot namespace -->
    <arg name="start_delay_seconds" default="0"/>
      <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
    <!-- <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include> -->

    <!-- Launch the example in that namespace -->
    <node name="moveit_kortex" pkg="abstract_arm" type="moveItServer.py"  output="screen" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' "/>
</launch>