<launch>

  <!-- Launch arm from kortex_gazebo -->
  <include file="$(find kortex_insert_description)/launch/spawn_kortex_insert.launch">
    <arg name="start_rviz" value="false" />
    <arg name="x0" value="0"/>
    <arg name="y0" value="0"/>
    <arg name="z0" value="1"/>
  </include>

  <include file="$(find mobile_base_description)/launch/spawn_base.launch" />

  <node pkg="kortex_insert_control" name="base_follower" type="base_follower.py" output="screen" />

</launch>