<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="wheel_transmission" params="index">
    <transmission name="wheel_${index}_joint_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_${index}_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="wheel_${index}_joint_motor">
        <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="load_base_transmissions">
    <xacro:wheel_transmission index="1" />
    <xacro:wheel_transmission index="2" />
    <xacro:wheel_transmission index="3" />
    <xacro:wheel_transmission index="4" />
  </xacro:macro>

</robot>