<?xml version="1.0"?>
<robot name="mobile_base" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:property name="base_dimensions" value=".9 .7 .3" /> <!-- 35 by 28 by 12 inches-->
  
  <link name="base_footprint"></link>

  <joint name="chassis_link_joint" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="chassis_link" />
  </joint>

  <!-- chassis link -->
  <link name="chassis_link">
    <visual>
      <origin xyz="0 0 .2" rpy="0 0 0" />
      <geometry>
        <box size="${base_dimensions}"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 .2"/>
      <geometry>
        <box size="${base_dimensions}"/>
      </geometry>
    </collision>
    <inertial>
      <!-- Fill in w/ CAD values -->
      <origin xyz="-0.01103 0 0.002" rpy="0 0 0"/>
      <mass value="2.844"/>
      <inertia
        ixx="0.018819942" ixy="0" ixz="-0.000101519"
        iyy="0.057333716" iyz="0"
        izz="0.074201740"/>
    </inertial>
  </link>


  <!-- Attach wheels -->
  <xacro:include filename="$(find mobile_base_description)/urdf/wheel/wheel.xacro" />
  <xacro:wheel_macro index="1" parent="chassis_link" origin=".4 .4 0"/>
  <xacro:wheel_macro index="2" parent="chassis_link" origin=".4 -.4 0"/>
  <xacro:wheel_macro index="3" parent="chassis_link" origin="-.4 -.4 0"/>
  <xacro:wheel_macro index="4" parent="chassis_link" origin="-.4 .4 0"/>

  <!-- Load gazebo file-->
  <xacro:include filename="$(find mobile_base_description)/urdf/base/model.gazebo" />

  <!-- arm holders -->
  <!-- <xacro:macro name="holding_block" params="index origin">
    <link name="block_${index}">
      <visual>
        <origin xyz="${origin}" rpy="0 0 0" />
        <geometry>
          <box size=".1 .1 .1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz=".1 .1 .1"/>
        <geometry>
          <box size="${base_dimensions}"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1"/>
        <inertia
          ixx="0.018819942" ixy="0" ixz="-0.000101519"
          iyy="0.057333716" iyz="0"
          izz="0.074201740"/>
      </inertial>
    </link>

    <joint name="block_${index}_chassis_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="chassis_link"/>
      <child link="block_${index}" />
    </joint>
  </xacro:macro>

  <xacro:holding_block index="1" origin=".08 .08 .35" />
  <xacro:holding_block index="2" origin="-.08 .08 .35" />
  <xacro:holding_block index="3" origin="-.08 -.08 .35" />
  <xacro:holding_block index="4" origin=".08 -.08 .35" /> -->

  </robot>
