<?xml version="1.0"?>
<robot name="mobile_base" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:property name="wheel_radius" value="0.050" />
  <xacro:property name="wheel_width" value="0.0505" />
  
  <link name="base_footprint"></link>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0.05" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size=".9 .7 .48"/>
      </geometry>
      <material name="yellow" />
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size=".9 .7 .3"/>
      </geometry>
    </collision>
    <inertial>
      <!-- Fill in w/ CAD values -->
      <origin xyz="-0.01103 0 0.002" rpy="0 0 0"/>
      <mass value="2.844"/>
      <inertia
        ixx="0.018819942" ixy="0" ixz="-0.000101519"
        iyy="0.057333716" iyz="0"
        izz="0.074201740"/>
    </inertial>
  </link>
  
  </robot>
